#navBar {
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    margin-bottom:50px;
    justify-content: center;
}
 
#title {
    margin-top: 0px;
}

#welcome-text {
    margin-top: 0px;
}

#signout {
    margin-top: 0px;
}

@media(max-width:767px) {
    #navBar {
        height: 25px;
    }

    #welcome-text {
        margin-top: -40px;
    }
    #signout{
        margin-top: -10px;
    }
}