#Personnel{
    font-weight: bold;
    text-align: center;
    width: 50%;
    height: 40px;
    border-right: solid 1px black;
}
#cardContent{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0
}
#cardText{
    font-size: 16px;
    font-weight: bold;
    text-align: left
}
#list-cards{
        flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0;
}


#Card{
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
}
#Wrapper{
    width: 272px;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
#cardHeader{
    font-size: 16px;

}
#Board{
    user-select: none;
    white-space: nowrap;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 8px;
    position: absolute;
    top: 110px;
    right: 0;
    bottom: 0;
    left: 0;
}
#personnelDropdown{
  background-image: linear-gradient(to bottom right, #F2F2F2, #E5E5E5);
  border: none;
  border-radius: 25px;
  height: 28px;
  width:28px;
  font-family: 'Oxygen', sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 13px;
  margin: auto;
  padding: .5px;
  margin-right: -2px;
  color: black
}
#personnelRow{
     color: white;
    background-color: #24292e;
    position: absolute;
    top: 50;
    left: 0;
    right: 0;
    height: 50px;
    margin-bottom:50px;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    opacity: 1;
}
#mainPersonnel{
    margin-top: 15px;
}
#dropdownMenu{
    width: 280px;
    height: 150px;
    padding: 8px;
}
#userProfileImg{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    margin: 10px
}
#Name{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    width: 90%;
    height: 20px;
    margin: auto;
    background-color: #ffffff;
    margin-top: 12px;
}
#Position{
    font-size: 16px;
    text-align: left;
    width: 90%;
    height: 20px;
    margin: auto;
    background-color: #ffffff;
    margin-top: 8px;
}
#Email{
    text-align: center;
}
#Phone{
    text-align: center; 
}